@page "/event/{eventCode}"
@using Microsoft.Extensions.Caching.Memory
@using Reisevenner.Web.Data
@inject IMemoryCache Storage
@inject NavigationManager Navigation

<h1>@currentEvent.Name</h1>

<p>Del url til deltagerne så de kan bli @Constants.AppName</p>
<div>
    <!-- Display event details here -->
    <p>Kode:  @eventCode</p>
    <p>Når:  @currentEvent.When</p>
    <p>Hvor:  @currentEvent.Where</p>
</div>

@foreach (var driver in currentEvent.Drivers)
{
    <Driver DriverInfo="driver" OnDelete="DeleteDriver" />
}

<button @onclick="AddDriver">Legg til sjåfør</button>

@code {
    [Parameter]
    public string eventCode { get; set; }
    EventModel currentEvent;

    protected override void OnParametersSet()
    {
        bool exists = Storage.TryGetValue<EventModel>(eventCode, out currentEvent);
        if (!exists)
        {
            // Redirect to the error page if the event does not exist
            Navigation.NavigateTo("/notfound");
        }
    }

    void AddDriver()
    {
        // Logic to add a new driver
        currentEvent.Drivers.Add(new DriverModel());
    }

    void DeleteDriver(DriverModel driver)
    {
        // Logic to delete the selected driver
    }
}